body {
	background-color: #65C3F9;
	opacity:0.9;
}

ul {
  border:1px solid white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #319613;
}

li {
  letter-spacing: 1.5px;
  float: left;
  border-right: 1.5px solid white;
}

li a {
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a .hover {
  background-color: #F5EA67;
}

h1 {
	color: #F5EA67;
	text-align: center;
	letter-spacing: 3px;
	border-style: double;
	border-color: #319613;
	font-size: 25pt;
}

h2 {
	color:#F5EB67;
	text-align:center;
	font-size: 25pt; letter-spacing: 2px;
}

table, th {
	background-color: #F5EA67;
	float: none;
	font-size: 19px;
}


#home {
	font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
	border: 8px solid #F5EA67;
}
p {
	font-size: 20px;
}